# the original CRMArena
SALESFORCE_USERNAME=kh.huang+00dws000004urq4@salesforce.com
SALESFORCE_PASSWORD=crmarenatest0
SALESFORCE_SECURITY_TOKEN=ugvBSBv0ArI7dayfqUY0wMGu

# CRMArena-Pro B2B
SALESFORCE_B2B_USERNAME=crmarenapro_b2b@gmaill.com
SALESFORCE_B2B_PASSWORD=crmarenatest1
SALESFORCE_B2B_SECURITY_TOKEN=jzThTrsE72FDF6dG0rwsUoD7

# CRMArena-Pro B2C
SALESFORCE_B2C_USERNAME=crmarenapro_b2c@gmaill.com
SALESFORCE_B2C_PASSWORD=crmarenatest1
SALESFORCE_B2C_SECURITY_TOKEN=xgThCIQEpaSXXgRScM3AOQmyQ
